name: 2025 Tests
on: [ push ]

env:
  CARGO_TERM_COLOR: always

jobs:
 rust-test:
    name: Test Rust Solutions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup update stable && rustup default stable
      - run: cd year/2025 && cargo test --verbose
